<ul class="nav nav-tabs nav-justified" style="margin-top: 10px;">
    <li style="cursor: pointer;" role="presentation" class="{{generalActiveTrue}}"><a ng-click="generalActive()">General</a></li>
    <li style="cursor: pointer;" role="presentation" class="{{propertiesActiveTrue}}"><a ng-click="propertiesActive()">Properties</a></li>
    <li style="cursor: pointer;" role="presentation" class="{{compatibilityActiveTrue}}"><a ng-click="compatibilityActive()">Compatibility</a></li>    
    </li>
</ul>
<div ng-show="generalActiveTrue"style="font-size: 14px; border-left: 1px solid #ddd; border-right: 1px solid #ddd; border-bottom: 1px solid #ddd; min-height: 300px;">
    <div class="container-fluid">
        <div class="col-md-12">
            <h4 ng-click="goBack()" style="color: #94C6F0; cursor: pointer;"><span class="glyphicon glyphicon-menu-left" style="top: 2px;"></span> Go Back</h4>
            
            <h3 style="color: #94C6F0;"><span class="glyphicon glyphicon-folder-close"></span> {{artifactoryUrl}}</h3>
        </div>
        <div class="col-md-12" style="color: #94C6F0; font-weight: bold;"><br><br>Info 
            <hr>
        </div>
    </div>

    
    <div class="container-fluid">
        <div class="col-md-2">
            Name: <br>
            Path: <br>
            Repo: <br>
            Created: <br>
            Created by:<br>
            Last Modified: <br>
            Last Modified by:<br>
            Last Updated: <br>
            Size: <br><br>
            Dependencies:


        </div>
        <div class="col-md-10">
            {{repoData.path.slice(1)}} <br>
            {{repoData.path}} <br>
            {{repoData.repo}} <br>
            {{repoData.created.slice(0,10)}} - {{repoData.created.slice(11,19)}}<br>   
            {{repoData.createdBy}}<br>
            {{repoData.lastModified.slice(0,10)}} - {{repoData.lastModified.slice(11,19)}}<br>
            {{repoData.modifiedBy}}<br>
            {{repoData.lastUpdated.slice(0,10)}} - {{repoData.lastUpdated.slice(11,19)}}<br>
            {{repoData.size / 1000000 | number:2}} MB <br><br>
            {{depend}}
        </div>
    </div>




    <div class="container-fluid">
        <div class="col-md-12" style="color: #94C6F0; font-weight: bold;"><br><br>Checksums 
            <hr>
        </div>
    </div>

    <div class="container-fluid">
        <div class="col-md-2">
            md5: <br>
            sha1: <br>
        </div>

        <div class="col-md-10">
            {{repoData.checksums.md5}} <br>
            {{repoData.checksums.sha1}}
            <br><br><br>
        </div>
    </div>

    <div class="container-fluid">
        <div class="col-md-2">
            <a href="{{repoData.uri}}" target="_blank" download>
                <button class="btn btn-primary">Download</button>
            </A>
        </div>

        <div class="col-md-10">
            <br><br><br>
        </div>
    </div>

</div>


<div ng-if="propertiesActiveTrue" style="border-left: 1px solid #ddd; border-right: 1px solid #ddd; border-bottom: 1px solid #ddd; min-height: 300px;">
    <br>
    <div ng-show="propertiesError">
        <div class="container-fluid">
            <div class="col-md-12">
                <h3 style="color: #94C6F0;"><span class="glyphicon glyphicon-remove"></span> {{msg}}</h3>
            </div>
        </div>
    </div>
    
    <div ng-show="propertiesShow">
        <div class="container-fluid" style="color: #94C6F0; font-weight: bold;">
            <div class="row" style="margin-left: 20px";>
                <span style="color: #000;">Add:</span> <span style="margin-left: 20px;">Properties | Property Set</span>
                <br><br>
                <input type="text" placeholder="Name *" class="form-control" style="border-radius: 0px; width: 300px; height: 50px; float: left; margin-right: 20px;">
                <input type="text" placeholder="Value" class="form-control" style="border-radius: 0px; width: 300px; height: 50px; float: left; margin-right: 20px;">
                <button style="height: 50px; width: 100px; color: #fff; background: #CCC; border: 0;">Add</button>
            </div>

            <div class="row">
                <table class="table table-striped table-hover" style="font-size: 14px; margin-left: 34px; min-width: 300px; max-width: 900px; margin-top: 20px;">
                    <thead style="color: #94C6F0;">
                        <th><span class="glyphicon glyphicon-ok-circle" aria-hidden="true" style="top: -3px;"></span></th>
                        <th>Property</th>
                        <th>Value(s)</th>
                    </thead>
                    <tbody>
                    <tr>
                        <td><span class="glyphicon glyphicon-ok-circle" aria-hidden="true" style="top: 3px;"></span></td>
                        <td></td>
                        <td></td>
                    </tr>
                    </tbody>
                </table>
            </div>
        </div>
    </div>
</div>

<div ng-show="compatibilityActiveTrue" style="border-left: 1px solid #ddd; border-right: 1px solid #ddd; border-bottom: 1px solid #ddd; min-height: 300px;">
    <br>
    <div ng-show="propertiesError">
        <div class="container-fluid">
            <div class="col-md-12">
                <h3 style="color: #94C6F0;">Compatibility</h3>
            </div>
            <iframe ng-src="relationMap/relation.html" frameborder="0" width="100%" height="500px">
                <!--content-->
            </iframe>
        </div>
    </div>
</div>