<ul class="nav" id="side-menu">
    <li class="sidebar-search">
        <div class="input-group custom-search-form">
            <input type="text" class="form-control" placeholder="Search...">
            <span class="input-group-btn">
                <button class="btn btn-default" type="button">
                    <i class="fa fa-search"></i>
                </button>
            </span>
        </div>
        <!-- /input-group -->
    </li>
    <li>
        <a href="#/artifact"><i class="fa fa-sitemap fa-fw"></i> ext-release-local</span></a>

        <!-- /.nav-second-level -->
    </li>
    <li>
        <a href="#/artifact"><i class="fa fa-sitemap fa-fw"></i> ext-snapshot-local</span></a>

        <!-- /.nav-second-level -->
    </li>
    <li>
        <a href="#/artifact"><i class="fa fa-sitemap fa-fw"></i> libs-release-local</span></a>

        <!-- /.nav-second-level -->
    </li>
    <li>
        <a href="#/artifact"><i class="fa fa-sitemap fa-fw"></i> libs-snapshot-local</span></a>

        <!-- /.nav-second-level -->
    </li>
    <li>
        <a href="#/artifact"><i class="fa fa-sitemap fa-fw"></i> plugins-release-local</span></a>

        <!-- /.nav-second-level -->
    </li>
    <li>
        <a href="#/artifact"><i class="fa fa-sitemap fa-fw"></i> plugins-snapshot-local</span></a>

        <!-- /.nav-second-level -->
    </li>
    <li>
        <a href="#/artifact"><i class="fa fa-sitemap fa-fw"></i> softhouse-generic</span></a>

        <!-- /.nav-second-level -->
    </li>
    <li>
        <a href="#/artifact"><i class="fa fa-sitemap fa-fw"></i> softhouse-maven</span></a>

        <!-- /.nav-second-level -->
    </li>
    <li>
        <a href="#/artifact"><i class="fa fa-sitemap fa-fw"></i> remote-repos<span class="fa arrow"></span></a>
        <ul class="nav nav-second-level">
            <li>
                <a href="#">.m2e</a>
            </li>
            <li>
                <a href="#">.nexus</a>
            </li>
        </ul>
        <!-- /.nav-second-level -->
    </li>
</ul>