<br><br>

<div class="spinner">
    <div class="rect1"></div>
    <div class="rect2"></div>
    <div class="rect3"></div>
    <div class="rect4"></div>
    <div class="rect5"></div>
</div>

<br><br>

Lorem ipsum dolor sit amet, consectetur adipiscing elit. Sed tempus ultricies quam nec posuere. Sed auctor ultricies enim vitae fermentum. Sed tellus magna, porta posuere risus id, venenatis egestas erat. Nunc velit tortor, gravida a nisi pretium, consequat auctor erat. Etiam a neque porttitor, efficitur nisl a, consectetur neque. Ut vulputate lorem ut odio sollicitudin, vel efficitur sem varius. Aenean gravida vulputate massa ac venenatis.
<br><br>
Sed vitae maximus leo. Cras a tortor ornare, rutrum augue at, semper nunc. Nulla vel ligula eu neque pulvinar pretium eu at enim. Proin in justo bibendum, blandit turpis vitae, bibendum tortor. Suspendisse viverra dui ac posuere mollis. Morbi rhoncus, felis nec scelerisque congue, ipsum diam vehicula ante, at imperdiet ligula quam a erat. Duis sagittis ut augue sed gravida. Vivamus ante quam, fringilla in lacinia et, fringilla vitae odio. Nam iaculis felis non ante lacinia, at feugiat diam cursus. Quisque id tincidunt lacus. Etiam pulvinar venenatis erat. Nunc non lobortis dolor, non tempor justo. Suspendisse potenti. Pellentesque habitant morbi tristique senectus et netus et malesuada fames ac turpis egestas. Mauris a turpis nibh.
<br><br>
Nullam placerat ligula id vestibulum fringilla. Duis pharetra nunc eget commodo interdum. Mauris molestie volutpat magna ac ullamcorper. Ut eu nulla quis lacus placerat aliquet in non ligula. Pellentesque turpis elit, porttitor in orci eget, elementum consectetur nibh. Vestibulum tempus sem vitae sapien imperdiet mattis. Nulla molestie risus urna, eu imperdiet lorem hendrerit sit amet. Pellentesque porta massa eu erat porta, sed lacinia diam laoreet. Nulla molestie velit at nisi interdum sollicitudin. In maximus, nulla eget lacinia congue, est enim sodales nisl, id aliquam massa augue ultricies lorem.
<br><br>
Nam consequat blandit quam sit amet molestie. Pellentesque placerat, massa sit amet accumsan rutrum, eros justo sollicitudin arcu, sit amet efficitur est ipsum nec tellus. Integer consequat tempus magna non posuere. Fusce imperdiet ipsum eu mattis accumsan. Donec id tortor ut mi blandit efficitur et sit amet ex. Sed tincidunt lacus diam, quis sollicitudin turpis posuere vel. Mauris mattis mauris nec mattis tincidunt. Nunc vitae odio sed sapien semper luctus non a augue. Cras sit amet quam eu lacus viverra aliquet.
<br><br>
Praesent luctus elit nec nisi auctor sagittis. Cum sociis natoque penatibus et magnis dis parturient montes, nascetur ridiculus mus. Nulla hendrerit nisl quis nisi posuere blandit. Vivamus mollis, ligula porttitor consequat maximus, magna dolor lacinia nisi, eu pulvinar arcu urna vel velit. Aliquam cursus augue eget dolor congue lobortis. Praesent at lacinia lectus, sed aliquet tortor. Sed sodales nunc sed turpis semper, lobortis lobortis lacus condimentum. Nulla tincidunt vel enim eu euismod. Curabitur semper vulputate libero ut imperdiet. Aenean ultrices lorem vel turpis porta, ac placerat sapien aliquet. Sed sodales elit non sapien lacinia consequat. Curabitur nec lectus at sem pellentesque pellentesque. Curabitur tempus arcu sed augue cursus, vel faucibus massa interdum